header{
    
    nav{
        h1{
        font-family: 'Lora', serif;
        font-style: italic bold;
        }
    }
    .underNavImg{
        height: 80vh;
        background-image: url(../../../public/img/banner-bg.jpg);
    }
    
}