nav{
    h1{
        font-family: 'Lora', serif;
        font-weight: bold italic;
    }
}
.imgHeader{
    background-image: url(../../../public/img/heading-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    h1{
        font-size: 50px;
        font-weight: bold;
    }
    p{
        width: 70%;
        text-align: center;
    }
}