.UnderReservation{
    
        .divRose{
            height: 150px;
            width: 100%;
            
                button{
                    height: 50px;
                    background-color: white;
                    border: 0;
                }
        }
        
}